<div class="container" id="admin-add-products-page">
	
	<!-- Navigation -->
	<div class="grid navigation-bar animated fadeInDown">
		<div class="col-1-3 back-btn">
			<a href="#/admin">
				<!-- 
				<i class="long left arrow icon"></i> Admin
				--> 
				&nbsp;
			</a>
		</div>
		<div class="col-1-3 center-heading">
			<h1>Admin</h1>
		</div>
		<div class="col-1-3 forward-btn">
			<a href="#/">
				Store <i class="long right arrow icon"></i>
			</a>
		</div>
	</div>

	<!-- Pages --> 
	<div class="gutters breathing-room">
		<div id="admin-options">
			<div class="admin-option animated slideInLeft">
				<a href="#/admin/products/add">
					<i class="inverted square plus icon"></i>
					<span>Add Product</span>
				</a>
			</div>
			<div class="admin-option animated slideInRight">
				<a href="#/admin/products/list">
					<i class="inverted square block layout icon"></i>
					<span>View Products</span>
				</a>
			</div>
		</div>
	</div>



</div>