<!DOCTYPE HTML>
<html lang="en" ng-app="myApp" ng-class="{'no-scrolling': showLoadingIndicator}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <title>My AngularJS App</title>
        <base href="/~ddt7/it490/">
        <link rel="stylesheet" href="css/app.css"/>
    </head>
    <body ng-controller="Site"> 


        <!-- Views -->
        <div ng-view></div>

        <!-- Loading Indicator --> 
        <loadingindicator></loadingindicator> 

        <!-- jQuery -->
        <script src="js/libraries/jquery/jquery-1.7.2.min.js"></script> 

        <!-- jQuery Easing --> 
        <script src="js/libraries/jquery.easing/jquery.easing.js"></script> 

        <!-- jQuery: Flexslider --> 
         <script src="js/libraries/jquery.flexslider/jquery.flexslider.js"></script> 
        
        <!-- jQuery: jCarousel --> 
        <script src="js/libraries/jquery.jcarousel/jquery.jcarousel.js"></script> 
        
        <!-- jQuery FileDrop --> 
        <script src="js/libraries/jquery.filedrop/jquery.filedrop.js"></script> 

        <!-- HTML5 --> 
        <!--[if lt IE 9]>
        <script src="js/libraries/html5/html5.js"></script> 
        <![endif]--> 
        
        <!-- AngularJS -->
        <script src="js/libraries/angular/angular.js"></script>
        <script src="js/libraries/angular/angular-route.js"></script>
        <script src="js/libraries/angular/angular-resource.js"></script>
        <script src="js/app/services.js"></script>
        <script src="js/app/controllers.js"></script>
        <script src="js/app/filters.js"></script>
        <script src="js/app/directives.js"></script>
        <script src="js/app/app.js"></script>

    </body>
</html>